@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Onest";
  font-style: normal;
  font-weight: 300;
  src: url("./onest/Onest-Light.woff2") format("woff2");
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Onest";
  font-style: normal;
  font-weight: 400;
  src: url("./onest/Onest-Regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Onest";
  font-style: normal;
  font-weight: 500;
  src: url("./onest/Onest-Medium.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Onest";
  font-style: normal;
  font-weight: 600;
  src: url("./onest/Onest-SemiBold.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  src: url("./onest/Onest-Bold.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+ */
}
